#announcer {
  position: fixed;
  height: 0;
  overflow: hidden;
}

.fade-out {
  animation: fadeOut .5s ease forwards;
}

@keyframes fadeOut {
  0% { opacity: 100%; }
  100% { opacity: 0; }
}

.display-none { display: none; }
.display-block { display: flex; }

bbva-spinner { height: 100vh; position: fixed; width: 100%; z-index: 1000; background: white; }

cells-alert-box {
  cells-bottom-modal {
    :host {
      top: inherit; bottom: 0;
    }
    h2.subtitle { font-size: 12px; }
  }
}