<link rel="import" href="polymer/polymer.html">
<!-- will be replaced with imports -->
<!-- will be replaced with dependencies -->
<link rel="import" href="../cells-coronita-base-theme/cells-coronita-base-theme.html"></link>
<link rel="import" href="../cells-map/cells-map.html"></link>
<link rel="import" href="../coronita-icons/coronita-icons.html"></link>